<div class="body">
    <section id="menu">
        <img class="logo" (click)="close()" src="//static.bose.com/etc/designs/bose/consumer-products-2016/design/images/bose_mobile_logo.png" alt="">

        <div class="items">
            <li>
                <div class="navs">
                    <img src="../../../assets/dashboard.png" alt="">
                    <a>Dashboard</a>
                </div>
            </li>
            <li>
                <div class="navs">
                    <img src="../../../assets/add.png" alt="">
                    <a>Add Product</a>
                </div>
            </li>
            <li>
                <div class="navs">
                    <img src="../../../assets/sales.png" alt="">
                    <a>Sales</a>
                </div>
            </li>
            <li>
                <div class="navs">
                    <img src="../../../assets/reports.png" alt="">
                    <a>Reports</a>
                </div>
            </li>
        </div>
    </section>

    <section id="interface">
        <div class="navigation">
            <div class="n1">
                <div class="menu-icon">
                    <img id="menu-icon" (click)="toggle()" src="../../../assets/ham.png" alt="">
                </div>
                <div class="search">
                    <input type="text" placeholder="Search...">
                </div>
            </div>
            <div class="profile">
                <img src="../../../assets/malik.png" alt="">
                <h4>Welcome Admin</h4>
            </div>
        </div>

        <h3 class="dash-title">Dashboard</h3>

        <div class="cards">
            <div class="card">
                <img class="user" src="../../../assets/users.png" alt="">
                <div class="values">
                    <h3>300</h3>
                    <span>Total Users</span>
                </div>
            </div>

            <div class="card">
                <img class="orders" src="../../../assets/orders.png" alt="">
                <div class="values">
                    <h3>1,985</h3>
                    <span>Total orders</span>
                </div>
            </div>

            <div class="card">
                <img class="sales" src="../../../assets/product.png" alt="">
                <div class="values">
                    <h3>29,361</h3>
                    <span>Product sales</span>
                </div>
            </div>

            <div class="card">
                <img class="revenue" src="../../../assets/growth.png" alt="">
                <div class="values">
                    <h3>$ 241,050</h3>
                    <span>Monthly revenue</span>
                </div>
            </div>
        </div>

        <div class="board">
            <table width="100%">
                <thead>
                    <tr>
                        <td>Name</td>
                        <td>Image</td>
                        <td>Price</td>
                        <td>Status</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="product">
                            <h5>Product name</h5>
                        </td>
                        <td class="image">
                            <img src="https://assets.bose.com/content/dam/cloudassets/Bose_DAM/Web/consumer_electronics/global/products/headphones/qc_earbuds/silo_images/v2/QCEB_PDP_Ecom-Gallery-B03.png/jcr:content/renditions/cq5dam.web.320.320.png"
                                alt="">
                        </td>
                        <td class="price"><h5>Ksh 1000</h5></td>
                        <td class="status"><p>Delivered</p></td>
                        <td class="action"><a>Edit</a></td>
                    </tr>
                    <tr>
                        <td class="product">
                            <h5>Product name</h5>
                        </td>
                        <td class="image">
                            <img src="https://assets.bose.com/content/dam/cloudassets/Bose_DAM/Web/consumer_electronics/global/products/headphones/qc_earbuds/silo_images/v2/QCEB_PDP_Ecom-Gallery-B03.png/jcr:content/renditions/cq5dam.web.320.320.png"
                                alt="">
                        </td>
                        <td class="price">
                            <h5>Ksh 1000</h5>
                        </td>
                        <td class="status">
                            <p>Delivered</p>
                        </td>
                        <td class="action"><a>Edit</a></td>
                    </tr>
                    <tr>
                        <td class="product">
                            <h5>Product name</h5>
                        </td>
                        <td class="image">
                            <img src="https://assets.bose.com/content/dam/cloudassets/Bose_DAM/Web/consumer_electronics/global/products/headphones/qc_earbuds/silo_images/v2/QCEB_PDP_Ecom-Gallery-B03.png/jcr:content/renditions/cq5dam.web.320.320.png"
                                alt="">
                        </td>
                        <td class="price">
                            <h5>Ksh 1000</h5>
                        </td>
                        <td class="status">
                            <p class="delivery">Delivered</p>
                        </td>
                        <td class="action"><a>Edit</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
</div>