<div class="body">
    <section id="menu">
        <img class="logo" (click)="close()" src="//static.bose.com/etc/designs/bose/consumer-products-2016/design/images/bose_mobile_logo.png" alt="">

        <div class="items">
            <li>
                <div class="navs">
                    <img src="../../../assets/dashboard.png" alt="">
                    <a routerLink="/admin/home" routerLinkActive="selected" >Dashboard</a>
                </div>
            </li>
            <li>
                <div class="navs">
                    <img src="../../../assets/add.png" alt="">
                    <a routerLink="/admin/addproduct" routerLinkActive="selected" >Add Product</a>
                </div>
            </li>
            <li>
                <div class="navs">
                    <img src="../../../assets/quantity.png" alt="">
                    <a routerLink="/admin/products" routerLinkActive="selected">Products</a>
                </div>
            </li>
        </div>
    </section>

    <section id="interface">
        <div class="navigation">
            <div class="n1">
                <div class="menu-icon">
                    <img id="menu-icon" (click)="toggle()" src="../../../assets/ham.png" alt="">
                </div>
                <div class="search">
                    <input type="text" placeholder="Search...">
                </div>
            </div>
            <div class="profile">
                <img src="../../../assets/malik.png" alt="">
                <h4>Welcome Admin</h4>
            </div>
        </div>
        <router-outlet></router-outlet>
    </section>
</div>