<div class="body">

    <div class="form-container">
        <form>
            <div class="form-content">
                <div class="title">Add product</div>
                <div class="input-box">
                    <img src="../../../assets/good.png" alt="">
                    <input type="text" placeholder="Product name">
                </div>

                <div class="input-box">
                    <img src="../../../assets/link.png" alt="">
                    <input type="text" placeholder="Product image URL">
                </div>

                <div class="input-box">
                    <img src="../../../assets/info.png" alt="">
                    <input type="text" placeholder="Product description">
                </div>

                <div class="input-box">
                    <img src="../../../assets/price.png" alt="">
                    <input type="number" placeholder="Product price">
                </div>

                <div class="input-box">
                    <img src="../../../assets/quantity.png" alt="">
                    <input type="number" placeholder="Quantity in stock">
                </div>

                <div class="input-box">
                    <img src="../../../assets/category.png" alt="">
                    <input type="text" placeholder="Product category">
                </div>

                <button>Submit</button>
            </div>
        </form>
    </div>
</div>
