<div class="body">

    <div class="form-container">
        <form [formGroup]="productDetails">
            <div class="form-content">
                <div class="title">Add product</div>
                <div class="input">
                    <div class="input-box">
                        <img src="../../../assets/good.png" alt="">
                        <input type="text" formControlName="productName" placeholder="Product name">
                    </div>
                    <span class="error"
                        *ngIf="productDetails.get('productName')?.errors?.['required'] && productDetails.get('productName')?.touched">Please
                        enter product name</span>
                </div>

                <div class="input">
                    <div class="input-box">
                        <img src="../../../assets/link.png" alt="">
                        <input type="text" formControlName="productImageURL" placeholder="Product image URL">
                    </div>
                    <span class="error"
                        *ngIf="productDetails.get('productImageURL')?.errors?.['required'] && productDetails.get('productImageURL')?.touched">Please
                        enter product image URL</span>
                </div>

                <div class="input">
                    <div class="input-box">
                        <img src="../../../assets/info.png" alt="">
                        <input type="text" formControlName="productDescription" placeholder="Product description">
                    </div>
                    <span class="error"
                        *ngIf="productDetails.get('productDescription')?.errors?.['required'] && productDetails.get('productDescription')?.touched">Please
                        enter product description</span>
                </div>

                <div class="input">
                    <div class="input-box">
                        <img src="../../../assets/price.png" alt="">
                        <input type="number" formControlName="productPrice" placeholder="Product price">
                    </div>
                    <span class="error"
                        *ngIf="productDetails.get('productPrice')?.errors?.['required'] && productDetails.get('productPrice')?.touched">Please
                        enter product price</span>
                    <span class="error"
                        *ngIf="productDetails.get('productPrice')?.errors?.['pattern'] && productDetails.get('productPrice')?.touched">Product price should be digits only</span>
                    <span class="error"
                        *ngIf="productDetails.get('productPrice')?.errors?.['minLength'] && productDetails.get('productPrice')?.touched">Product
                        price should be more than 3 digits (1000)</span>
                </div>

                <div class="input">
                    <div class="input-box">
                        <img src="../../../assets/quantity.png" alt="">
                        <input type="number" formControlName="quantityInStock" placeholder="Quantity in stock">
                    </div>
                    <span class="error"
                        *ngIf="productDetails.get('quantityInStock')?.errors?.['required'] && productDetails.get('quantityInStock')?.touched">Please
                        enter quantity in stock</span>
                    <span class="error"
                        *ngIf="productDetails.get('quantityInStock')?.errors?.['pattern'] && productDetails.get('quantityInStock')?.touched">Quantity in stock should be digits only</span>
                    <span class="error"
                        *ngIf="productDetails.get('quantityInStock')?.errors?.['minLength'] && productDetails.get('quantityInStock')?.touched">Quantity in stock should be more than 1 digit (10)</span>
                </div>

                <div class="input">
                    <div class="input-box">
                        <img src="../../../assets/category.png" alt="">
                        <input type="text" formControlName="productCategory" placeholder="Product category">
                    </div>
                    <span class="error"
                        *ngIf="productDetails.get('productCategory')?.errors?.['required'] && productDetails.get('productCategory')?.touched">Please
                        enter product category</span>
                </div>

                <button>Submit</button>
            </div>
        </form>
    </div>
</div>
