<div class="body bg-gradient-to-r from-slate-200 to-slate-300">
    <div class="log-container">
        <input type="checkbox" id="flip">
        <div class="cover">
            <div class="front">
                <img class="frontImg" src="../../../assets/headphones.png" alt="">
            </div>
        </div>
        <form>
            <div class="form-content">
                <div class="login-form">
                    <div class="title">Log In</div>
                    <div class="input-boxes">
                        <div class="input-box">
                            <img src="../../../assets/email.png" alt="">
                            <input type="email" placeholder="Enter email address" required>
                        </div>
                        <div class="input-box">
                            <img src="../../../assets/password.png" alt="">
                            <input type="password" placeholder="Enter password" required>
                        </div>
                        <div class="text"><a href="#">Forgot Password?</a></div>
                        <div class="input-box">
                            <button>Submit</button>
                        </div>
                        <div class="text login-text">Don't have an account? <label for="flip">Sign Up</label></div>
                    </div>
                </div>
                <div class="signup-form">
                    <div class="title">Sign Up</div>
                    <div class="input-boxes">
                        <div class="input-box">
                            <img src="../../../assets/profile.png" alt="">
                            <input type="text" placeholder="Enter full names" required>
                        </div>
                        <div class="input-box">
                            <img src="../../../assets/email.png" alt="">
                            <input type="email" placeholder="Enter email address" required>
                        </div>
                        <div class="input-box">
                            <img src="../../../assets/password.png" alt="">
                            <input type="password" placeholder="Enter password" required>
                        </div>
                        <div class="input-box">
                            <button>Submit</button>
                        </div>
                        <div class="text signup-text">Already have an account? <label for="flip">Log In</label></div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>