<div class="body bg-gradient-to-r from-slate-200 to-slate-300">
    <div class="log-container">
        <input type="checkbox" id="flip">
        <div class="cover">
            <div class="front">
                <img class="frontImg" src="../../../assets/headphones.png" alt="">
            </div>
        </div>
        <form [formGroup]="customerCredentials">
            <div class="form-content">
                <div class="login-form">
                    <div class="title">Log In</div>
                    <div class="msg-cont" *ngIf="msg">
                        <p class="msg">{{msg}}</p>
                    </div>
                    <div class="input-boxes">
                        <div class="input">
                            <div class="input-box">
                                <img src="../../../assets/email.png" alt="">
                                <input type="email" [(ngModel)]="signInCredentials.email" formControlName="customerSignInEmail" placeholder="Enter email address" required>
                            </div>
                            <span class="error" *ngIf="customerCredentials.get('customerSignInEmail')?.errors?.['required'] && customerCredentials.get('customerSignInEmail')?.touched">Please enter your email address</span>
                            <span class="error"
                                *ngIf="customerCredentials.get('customerSignInEmail')?.errors?.['email'] && customerCredentials.get('customerSignInEmail')?.touched">Please
                                enter a valid email address</span>
                            <span class="error"
                                *ngIf="customerCredentials.get('customerSignInEmail')?.errors?.['pattern'] && customerCredentials.get('customerSignInEmail')?.touched">Please
                                enter a valid gmail email address</span>
                        </div>
                        <div class="input">
                            <div class="input-box">
                                <img src="../../../assets/password.png" alt="">
                                <input type="password" [(ngModel)]="signInCredentials.customer_password"  formControlName="customerSignInPassword"placeholder="Enter password" required>
                            </div>
                            <span class="error"
                                *ngIf="customerCredentials.get('customerSignInPassword')?.errors?.['required'] && customerCredentials.get('customerSignInPassword')?.touched">Please
                                enter your password</span>
                            <span class="error"
                                *ngIf="customerCredentials.get('customerSignInPassword')!.errors?.['minLength'] && customerCredentials.get('customerSignInPassword')!.touched">*
                                Minimal 3 letters</span>
                        </div>
                        <!-- <div class="text"><a href="#">Forgot Password?</a></div> -->
                        <div class="input-box">
                            <button (click)="signInUser()">Submit</button>
                        </div>
                        <div class="text login-text">Don't have an account? <label for="flip">Sign Up</label></div>
                    </div>
                </div>
                <div class="signup-form">
                    <div class="title">Sign Up</div>
                    <div class="msg" *ngIf="msg">
                        <p class="msg">{{msg}}</p>
                    </div>
                    <div class="input-boxes">
                        <div class="input">
                            <div class="input-box">
                                <img src="../../../assets/profile.png" alt="">
                                <input type="text" [(ngModel)]="signUpCredentials.full_name" formControlName="customerNames" placeholder="Enter full names" required>
                            </div>
                            <span class="error"
                                *ngIf="customerCredentials.get('customerNames')?.errors?.['required'] && customerCredentials.get('customerNames')?.touched">Please
                                enter your full names</span>
                        </div>
                        <div class="input">
                            <div class="input-box">
                                <img src="../../../assets/email.png" alt="">
                                <input type="email" [(ngModel)]="signUpCredentials.email" formControlName="customerSignUpEmail" placeholder="Enter email address" required>
                            </div>
                            <span class="error"
                                *ngIf="customerCredentials.get('customerSignUpEmail')?.errors?.['required'] && customerCredentials.get('customerSignUpEmail')?.touched">Please
                                enter your email address</span>
                            <span class="error"
                                *ngIf="customerCredentials.get('customerSignUpEmail')?.errors?.['email'] && customerCredentials.get('customerSignUpEmail')?.touched">Please
                                enter a valid email address</span>
                            <span class="error"
                                *ngIf="customerCredentials.get('customerSignUpEmail')?.errors?.['pattern'] && customerCredentials.get('customerSignUpEmail')?.touched">Please
                                enter a valid gmail email address</span>
                        </div>
                        <div class="input">
                            <div class="input-box">
                                <img src="../../../assets/password.png" alt="">
                                <input type="password" [(ngModel)]="signUpCredentials.customer_password" formControlName="customerSignUpPassword" placeholder="Enter password" required>
                            </div>
                            <span class="error"
                                *ngIf="customerCredentials.get('customerSignUpPassword')?.errors?.['required'] && customerCredentials.get('customerSignUpPassword')?.touched">Please
                                enter your password</span>
                            <span class="error"
                                *ngIf="customerCredentials.get('customerSignUpPassword')!.errors?.['minLength'] && customerCredentials.get('customerSignUpPassword')!.touched">*
                                Minimal 3 letters</span>
                        </div>
                        <div class="input-box">
                            <button (click)="signUpUser()">Submit</button>
                        </div>
                        <div class="text signup-text">Already have an account? <label for="flip">Log In</label></div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>