<!-- <p>dash-data works!</p> -->

<section id="interface">
    <h3 class="dash-title">Dashboard</h3>
    
    <div class="cards">
        <div class="card">
            <img class="user" src="../../../assets/users.png" alt="">
            <div class="values">
                <h3>300</h3>
                <span>Total Users</span>
            </div>
        </div>

        <div class="card">
            <img class="orders" src="../../../assets/orders.png" alt="">
            <div class="values">
                <h3>1,985</h3>
                <span>Total orders</span>
            </div>
        </div>

        <div class="card">
            <img class="sales" src="../../../assets/product.png" alt="">
            <div class="values">
                <h3>29,361</h3>
                <span>Product sales</span>
            </div>
        </div>

        <div class="card">
            <img class="revenue" src="../../../assets/growth.png" alt="">
            <div class="values">
                <h3>$ 241,050</h3>
                <span>Monthly revenue</span>
            </div>
        </div>
    </div>
    <div class="board">
        <table width="100%">
            <thead>
                <tr>
                    <td>Name</td>
                    <td>Image</td>
                    <td>Price</td>
                    <td>Status</td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="product">
                        <h5>Product name</h5>
                    </td>
                    <td class="image">
                        <img src="https://assets.bose.com/content/dam/cloudassets/Bose_DAM/Web/consumer_electronics/global/products/headphones/qc_earbuds/silo_images/v2/QCEB_PDP_Ecom-Gallery-B03.png/jcr:content/renditions/cq5dam.web.320.320.png"
                            alt="">
                    </td>
                    <td class="price"><h5>Ksh 1000</h5></td>
                    <td class="status"><p>Delivered</p></td>
                    <td class="action"><a routerLink="/admin/editorder" >Edit</a></td>
                </tr>
                <tr>
                    <td class="product">
                        <h5>Product name</h5>
                    </td>
                    <td class="image">
                        <img src="https://assets.bose.com/content/dam/cloudassets/Bose_DAM/Web/consumer_electronics/global/products/headphones/qc_earbuds/silo_images/v2/QCEB_PDP_Ecom-Gallery-B03.png/jcr:content/renditions/cq5dam.web.320.320.png"
                            alt="">
                    </td>
                    <td class="price">
                        <h5>Ksh 1000</h5>
                    </td>
                    <td class="status">
                        <p>Delivered</p>
                    </td>
                    <td class="action"><a routerLink="/admin/editorder">Edit</a></td>
                </tr>
                <tr>
                    <td class="product">
                        <h5>Product name</h5>
                    </td>
                    <td class="image">
                        <img src="https://assets.bose.com/content/dam/cloudassets/Bose_DAM/Web/consumer_electronics/global/products/headphones/qc_earbuds/silo_images/v2/QCEB_PDP_Ecom-Gallery-B03.png/jcr:content/renditions/cq5dam.web.320.320.png"
                            alt="">
                    </td>
                    <td class="price">
                        <h5>Ksh 1000</h5>
                    </td>
                    <td class="status ">
                        <p class="delivery text-slate-900">Delivered</p>
                    </td>
                    <td class="action"><a routerLink="/admin/editorder">Edit</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</section>

