<!-- <p>dash-data works!</p> -->

<section id="interface">
    <h3 class="dash-title">Dashboard</h3>
    
    <div class="cards">
        <div class="card">
            <img class="user" src="../../../assets/users.png" alt="">
            <div class="values">
                <h3>{{userCount[""]}}</h3>
                <span>Total Users</span>
            </div>
        </div>

        <div class="card">
            <img class="orders" src="../../../assets/orders.png" alt="">
            <div class="values">
                <h3>{{orderCount[""]}}</h3>
                <span>Total orders</span>
            </div>
        </div>

        <div class="card">
            <img class="sales" src="../../../assets/product.png" alt="">
            <div class="values">
                <h3>{{productCount[""]}}</h3>
                <span>Total products</span>
            </div>
        </div>

        <!-- <div class="card">
            <img class="revenue" src="../../../assets/growth.png" alt="">
            <div class="values">
                <h3>$ 241,050</h3>
                <span>Monthly revenue</span>
            </div>
        </div> -->
    </div>
    <div class="board" *ngIf="orders.length != 0 ">
        <table width="100%">
            <thead>
                <tr>
                    <td>Name</td>
                    <td>Image</td>
                    <td>Price</td>
                    <td>Quantity</td>
                    <td>User</td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let order of orders | paginate:{ itemsPerPage:3, currentPage:p}">
                    <td class="product">
                        <h5>{{order.product_name}}</h5>
                    </td>
                    <td class="image">
                        <img src="{{order.product_image_url}}"
                            alt="">
                    </td>
                    <td class="price"><h5>Ksh {{order.total_price}}</h5></td>
                    <td><h5>{{order.quantity_ordered}}</h5></td>
                    <td><h5>{{order.full_name}}</h5></td>
                    <td class="action">
                        <div class="actions">
                            <a (click)="deleteOrder(order.order_id)">Delete</a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>


    <section id="empty" *ngIf="orders.length === 0 ">
        <div class="lottie-container">
            <h4>No orders made yet</h4>
            <ng-lottie [options]="options" (animationCreated)="animationCreated($event)"></ng-lottie>
        </div>
    </section>
</section>


